<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" strict="true">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} - %-5level %logger{12} - %msg%n"/>
    </Console>
  </appenders>

  <loggers>
    <root additivity="false" level="info">
      <appender-ref ref="Console"/>
    </root>
    <logger name="webapp.framework.web.filter" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="org.springframework.transaction" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="org.springframework.orm.hibernate3" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="org.hibernate.cache.EhCacheProvider" additivity="false" level="error">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="org.hibernate" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="org.springframework.security" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="org.apache.commons" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="org.springframework" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="org.springframework.beans.factory.support" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="net.sf.ehcache" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="druid.sql" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="druid.sql.DataSource" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="druid.sql.Connection" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="druid.sql.Statement" additivity="false" level="debug">
      <appender-ref ref="Console"/>
    </logger>
    <logger name="druid.sql.ResultSet" additivity="false" level="warn">
      <appender-ref ref="Console"/>
    </logger>
  </loggers>
</configuration>